.row.top-buffer
    .col-lg-6.col-lg-offset-3
        ul.breadcrumb
            li Custom Sync Operation
uib-tabset(active="active", ng-init="init()")
    uib-tab(heading="Main" )
        .row
            .col-lg-6
                form(name="CustomSyncOperationForm", role="form", id="CustomSyncOperationForm")
                    div.form-group
                        label Name
                        input.form-control(type="text", data-ng-model="custom_sync_operation.name")
                    div.form-group
                        label QueuePrefix
                        input.form-control(type="text", data-ng-model="custom_sync_operation.customAttributes.queuePrefix")
                    div.form-group
                        label Pipe
                        select.form-control(id="pipe",
                        ng-model="custom_sync_operation.customAttributes.pipe.id",
                        ng-options="pipe.id  as pipe.name  for pipe in pipes")
                    div.form-group(ng-if="transformationSchemata")
                        label Transformation Schema
                        multiselect(ng-model="custom_sync_operation.customAttributes.transformationSchema", options="transformationSchemata" id-prop="id" display-prop="name")
                    div.form-group
                        label Entity Type
                        select.form-control(id="entityType",
                            ng-model="custom_sync_operation.customAttributes.entityTypeId.uuid",
                            ng-options="et.uuid as et.name  for et in entityTypes")
                    div.form-group
                        label Filter
                        input.form-control(type="text", data-ng-model="custom_sync_operation.filter")
                    div.form-group
                        label Import
                        input.form-control(type="checkbox", data-ng-model="custom_sync_operation.customAttributes.import")
                    div.form-group
                        label has Attachments?
                        input.form-control(type="checkbox", data-ng-model="custom_sync_operation.customAttributes.hasAttachments")
                    div.btn-group
                        button.btn.btn-default(type="submit", ng-click="saveCustomSyncOperation(custom_sync_operation)") APPLY
                        button.btn.btn-default(type="submit", ng-click="runCustomSyncOperation(custom_sync_operation)") RUN
                        button.btn.btn-danger(type="submit", ng-click="deleteCustomSyncOperation(custom_sync_operation.id)", ng-disabled="!custom_sync_operation.id") DELETE
                        button.btn.btn-default(type="submit", ng-click="cancel()") CANCEL
    uib-tab(heading="Attachments" )
        .row.top-buffer
            .col-lg-6(ng-if="custom_sync_operation.customAttributes.import && custom_sync_operation.customAttributes.hasAttachments")
                form(name="CustomSyncOperationForm", role="form")
                    div.form-group
                        label Select File
                        div.top-small-buffer( class="button", ngf-select="upload($file)")
                            button.btn.btn-info(type="submit", ng-if="!schema.customAttributes.export")    UPLOAD FILE
                    div.form-group(ng-if="custom_sync_operation.customAttributes.filename")
                        label Uploaded File
                        input.form-control(type="text", data-ng-model="custom_sync_operation.customAttributes.filename", disabled=true)
            .col-lg-6(ng-if="!custom_sync_operation.customAttributes.import && custom_sync_operation.customAttributes.hasAttachments")
                form(name="CustomSyncOperationForm", role="form")
                    div.form-group
                        label {{downloadFilename}}
                        div.top-small-buffer( class="button")
                            button.btn.btn-info(type="submit", ng-if="!schema.customAttributes.export", ng-click="download(downloadFilename)")    DOWNLOAD FILE