br
br
br
.row
    .col-lg-6.col-lg-offset-3
        ul.breadcrumb
            li Pipelines
uib-tabset(active="active", ng-init="init()")
    uib-tab(index="0",heading="Main")
        form(name="ExternalOperationForm", role="form", id="ExternalOperationForm")
            div.form-group
                label(for="externalOperationName") Name
                input.form-control(type="text",id="externalOperationName", data-ng-model="external_operation.name")
            div.form-group
                label(for="sourceSystem") Source System
                select.form-control(id="sourceSystem",
                ng-model="external_operation.sourceSystem.frontendInfo.selected.id",
                ng-options="sys.id as sys.name  for sys in external_operation.sourceSystem.frontendInfo.options")
            div.form-group
                label(for="targetSystem") Target System
                select.form-control(id="targetSystem",
                ng-model="external_operation.targetSystem.frontendInfo.selected.id",
                ng-options="sys.id as sys.name  for sys in external_operation.targetSystem.frontendInfo.options")
            div.btn-group
                button.btn.btn-default(type="submit", ng-click="updateExternalOperation(external_operation)") APPLY
                button.btn.btn-danger(type="submit", ng-click="deleteExternalOperation(external_operation.id)", ng-disabled="!external_operation.id") DELETE
                button.btn.btn-default(type="submit", ng-click="cancel()") CANCEL
    uib-tab(index="1", heading="Transformation Schemata")
        .row
           .col-lg-4
                form(role="form",name="helpForm")
                    div.form-group
                        label(for="entities") Entities
                        select.form-control(id="entities", ng-model="selected_entity",
                        ng-options="entity.name for entity in entity_types",
                        ng-change="changedEntityType(selected_entity)")
           .col-lg-4

           .col-lg-4

        .row
           .col-lg-6-col-lg-offset-2
                table.table()
                    tr(ng-repeat="(key, item) in external_operation.transformationSchemata")
                        td        {{item.name}}
                        td
                            form( role="form", id="{{item.uuid}}")
                                div.form-group
                                    select.form-control(id="mapping{{item}})",
                                    ng-model="item.mapping.id",
                                    ng-options="mapping.id as mapping.name  for mapping in transformation_schemata")
                        td(align="right")
                           form(role="form")
                               .form-group
                                   a.btn.btn-danger.btn-xs(ng-click="removeSchemaItem(key)")
                                       span.glyphicon.glyphicon-remove


