.row.top-buffer
    .col-lg-6.col-lg-offset-3
        ul.breadcrumb
            li Attributes
.row(ng-init="init()")

    .col-lg-6
        span
            us-spinner(spinner-key="spinner-attribute", spinner-start-active="true")
        form(name="AttributeForm", role="form", id="AttributeForm")
            div.form-group
                label(for="attributeName") Name
                input.form-control(type="text",id="attributeName", data-ng-model="attribute.name")
            div.form-group
                label(for="attributeValueType") Value Type
                select.form-control(id="attributeValueType",
                ng-model="attribute.valueType",
                ng-options="valueType as valueType for valueType in valueTypes")
            div.form-group()
                label Referenced Entity Type
                select.form-control(id="entityType", ng-model="attribute.properties.referencedEntityTypeId",
                ng-options="entitityType.uuid as entitityType.name  for entitityType in pims.entities.list")
            div.form-group
                label(for="frontendType") FrontEnd Type
                select.form-control(id="frontendType",
                ng-model="attribute.properties.frontendType",
                ng-options="valueType as valueType for valueType in frontendTypes")
            div.form-group
                label(for="indexed") Indexed
                input.form-control(type="checkbox",id="indexed", data-ng-model="attribute.properties.indexed")
            div.btn-group
                button.btn.btn-default(type="submit", ng-click="updateAttribute(attribute)") APPLY
                button.btn.btn-danger(type="submit", ng-click="deleteAttribute(attribute.uuid)", ng-disabled="!attribute.uuid") DELETE
                button.btn.btn-default(type="submit", ng-click="cancel()") CANCEL

