.div(ng-controller="AuditListController", ng-init="init()")
    .row.top-buffer
        .col-lg-2
            button.top-pagination.btn.btn-info(type="submit", ng-click="search()") SEARCH
        .col-lg-6
            include audit_pagination
        .col-lg-1
            button.top-pagination.btn.btn-warning(type="submit",ng-click="clear(search_params)") CLEAR
        .col-lg-1
            button.btn-sm.btn-info.top-pagination.span.glyphicon.glyphicon-refresh(ng-click="init()")
        .col-lg-2
            select.top-pagination.form-control(ng-model="pageSize",
            ng-options="size as size for size in pageSizes")
    .row
        .col-lg-6
            span
                us-spinner(spinner-key="spinner-audit", spinner-start-active="true")
    .row.top-buffer
        .col-lg-11
            table.table(ng-if="ready")
                thead
                    tr
                        th Request Id
                        th Operation
                        th Started At
                        th Id
                        th Entity Type
                        th Operation
                        th Diff
                        th User
                    tr
                        td
                            form(role="form")
                                input.form-control(type="text",
                                ng-keypress="($event.which === 13)?search():0",
                                data-ng-model="search_params.operationId")
                        td
                            form(role="form", ng-if="aggregationsReady")
                                multiselect(ng-model="selects.syncOperationId", options="aggregations.syncOperationId"
                                     id-prop="key" display-prop="name" show-search="true")
                        td
                        td
                            form(role="form")
                                input.form-control(type="number",
                                ng-keypress="($event.which === 13)?search():0",
                                data-ng-model="search_params.entityId")
                        td
                            form(role="form", ng-if="aggregationsReady")
                                multiselect(ng-model="selects.entityTypeId",
                                options="aggregations.entityTypeId",
                                selection-limit="1",
                                id-prop="key" display-prop="name" show-search="true")
                        td
                            form(role="form", ng-if="aggregationsReady")
                                multiselect(ng-model="selects.syncOperationType",
                                options="aggregations.syncOperationType",
                                selection-limit="1",
                                 id-prop="key" display-prop="name" show-search="true")
                        td
                        td
                            form(role="form", ng-if="aggregationsReady")
                                multiselect(ng-model="selects.user",
                                options="aggregations.user",
                                selection-limit="1",
                                id-prop="key" display-prop="name" show-search="true")

                tbody
                    tr(ng-repeat="op in operations")
                        td {{op.operationId}}
                        td {{op.syncOperationId}}
                        td {{op.startedAt | date:'yyyy-MM-dd HH:mm:ss Z'}}
                        td {{op.entityId}}
                        td {{op.entityTypeId}}
                        td {{op.syncOperationType}}
                        td(ng-if="op.diff")
                            a(ng-click="visualizeDiff(op)", ng-href="") MORE
                        td(ng-if="!op.diff || op.diff.length==0") NO CHANGES
                        td {{op.user}}
    .row
        .col-lg-6.col-lg-offset-2
            include audit_pagination
        .col-lg-2
            select.top-pagination.form-control(ng-model="pageSize",
            ng-options="size as size for size in pageSizes")
